<head>
    <title>PureChart Documentation</title>
</head>

<div class='docs-split' data-controller="articles--page">
    <div class='sidebar'>
        <div style="width: 100%">
            <div class='logo-container'>
                <%= image_tag "PureChartWhite.png", class: "sidebar-logo" %>

                <button class="clear menu-button" data-action="articles--page#closeMenu">
                    <%= image_tag "Close.png", class: "menu" %>
                </button>
            </div>

            <div class='links padding-top'>
                <%= button_tag "Getting Started", id: "getting-started", class: "nav-button", data: { action: "click->articles--page#navigate" } %>
                <%= button_tag "Types of Charts", id: "types-of-charts", class: "nav-button", data: { action: "click->articles--page#navigate" } %>
            </div>
        </div>

        <div class="bottom">
            <a href="https://github.com/PureChart/purechart" target="_blank" class="social margin-right-half" style="background: #000000"><%= image_tag "GitHub.png" %></a>
            <a href="https://discord.gg/XPSKm29Jay" target="_blank" class="social margin-right-half" style="background: #5865F2"><%= image_tag "Discord.png" %></a>
            <a href="https://twitter.com/PureChartOne" target="_blank" class="social" style="background: #1DA1F2"><%= image_tag "Twitter.png" %></a>
        </div>
    </div>

    <div class='content'>
        <div class="mobile-logo-container">
            <%= image_tag "PureChartWhite.png", class: "mobile-logo margin-bottom-half" %>
            
            <button class="clear menu-button" data-action="articles--page#displayMenu">
                <%= image_tag "Menu.png", class: "menu" %>
            </button>
        </div>

        <div class="article-container">
            <%= turbo_frame_tag "article" do %>
                <p>Loading...</p>
            <% end %>
        </div>
    </div>
</div>

<script>

</script>