<head>
    <title>PureChart Documentation</title>
</head>

<div class='docs-split' data-controller="articles--page">
    <div class='sidebar'>
        <div style="width: 100%">
            <div class='logo-container'>
                <%= image_tag "PureChartWhite.png", class: "sidebar-logo" %>
            </div>

            <div class='links padding-top'>
                <% @nav_tree.each do |key, value| %>
                    <%= button_tag key, id: value["Index"], class: "nav-button #{value}", data: { action: "click->articles--page#navigate" } %>

                    <% value.each do |skey, svalue| %>
                        <% if skey != "Index" %>
                            <%= button_tag skey, id: svalue["Index"], class: "nav-button #{svalue}", data: { action: "click->articles--page#navigate" } %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>

        <div class="bottom">
            <a href="https://github.com/PureChart/purechart" target="_blank" class="social margin-right-half" style="background: #000000"><%= image_tag "GitHub.png" %></a>
            <a href="https://discord.gg/XPSKm29Jay" target="_blank" class="social margin-right-half" style="background: #5865F2"><%= image_tag "Discord.png" %></a>
            <a href="https://twitter.com/PureChartOne" target="_blank" class="social" style="background: #1DA1F2"><%= image_tag "Twitter.png" %></a>
        </div>
    </div>

    <div class='mobile-sidebar'>
        <div style="width: 100%">
            <div class='links padding-top'>
                <%= button_tag "Getting Started", id: "getting-started", class: "nav-button getting-started", data: { action: "click->articles--page#navigate" } %>
                <%= button_tag "Types of Charts", id: "types-of-charts", class: "nav-button types-of-charts", data: { action: "click->articles--page#navigate" } %>
                <%= button_tag "Chart Styling", id: "chart-styling", class: "nav-button chart-styling", data: { action: "click->articles--page#navigate" } %>
            </div>
        </div>

        <div class="bottom">
            <a href="https://github.com/PureChart/purechart" target="_blank" class="social margin-right-half" style="background: #000000"><%= image_tag "GitHub.png" %></a>
            <a href="https://discord.gg/XPSKm29Jay" target="_blank" class="social margin-right-half" style="background: #5865F2"><%= image_tag "Discord.png" %></a>
            <a href="https://twitter.com/PureChartOne" target="_blank" class="social" style="background: #1DA1F2"><%= image_tag "Twitter.png" %></a>
        </div>
    </div>

    <div class='content'>
        <div class="mobile-logo-container">
            <%= image_tag "PureChartWhite.png", class: "mobile-logo" %>
            
            <button class="clear menu-button" data-action="articles--page#toggleMenu">
                <%= image_tag "Menu.png", class: "menu" %>
            </button>
        </div>

        <div class="article-container">
            <%= turbo_frame_tag "article" do %>
                <p>Loading...</p>
            <% end %>
        </div>
    </div>
</div>
